  <mat-card class="card-details-lg">
      <table>
        <tr *ngIf="author">
          <td>
          <mat-card-header>
            <mat-card-title>Author's name::::: {{ author.name }} INAUTHORS</mat-card-title>
          </mat-card-header>

            <mat-card>
              <h3>Add an author Form: Submit Form</h3>
              <form (submit)="onAddAuthor(authForm)" #authForm = 'ngForm'>
                <!-- use the json pipe to see how newTask changes in real time -->

                  <h5 style='color:darkgreen'>{{ newAuthor | json }}</h5>

                  <h6>author Name:</h6><p>
                  <input type="text" name="name" [(ngModel)]="newAuthor.name">
                  <h6>author Bio:</h6><p>
                  <input type="text" name="desc" [(ngModel)]="newAuthor.desc">
                  <button style='margin-top:25px' class="btn btn-lg btn-primary btn-block" type="submit">Create author</button>
              </form>
          </mat-card>
            </td>
          </tr>
        </table>
    </mat-card>
